.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &__tab-container {
    margin-bottom: 64px;
  }
  &__filter {
    align-self: start;
    margin-bottom: 38px;
  }
}
