@import "@styles/vars";

.StoryList {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  column-gap: 40px;
  justify-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .StoryList {
    grid-template-columns: 1fr 1fr;
  }
}
