@import "@styles/vars";

.Header {
  height: 114px;
  padding: 0 20px;
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  display: grid;
  grid-template-columns: auto minmax(320px, 1024px) auto;
  align-content: center;

  &__logo {
    grid-column: 2 / 3;
  }

  &__title {
    color: #3b3b3b;
    font-family: Baskerville;
    font-size: 2.8rem;
    text-align: start;
  }
}
